.po-table {
  margin: 75px 100px 0 100px;
  font-size: 14px;
}

.table-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.role-user {
  float: left;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
